.container {
  background-color: #282c34;
  /*background-image: url("./assets/start.jpeg");*/
  /*background-size: 50px;*/
  background-repeat: repeat;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.row {
  display: flex;
  align-items: center;
}

.card-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: white;
  border: 2px solid black;
  border-radius: 5px;
  padding: 12px;
  font-family: Trattatello, fantasy;
}

.card {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: black;
  touch-action: none;
}
